<html>
<head>
    <title>Sales Invoices</title>
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>



</head>
<header>
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary bg-border-bottom bg-border-body" style="background-color: #0e161a;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navigation</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="container-fluid">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/">Search</a>
                        <a class="nav-link" href="/restaurants">Restaurants</a>
                        <a class="nav-link" href="/restaurant-menu">Menu Items</a>
                        <a class="nav-link" href="/invoices">Invoices</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<body>
    <div class="btn-group">
        <input type="button" value="Add New Invoice" id="add-invoice-btn" onClick="addInvoice()">
    </div>
    <div id="display-invoices">
        <h1>Current Sales Invoices for  {{invoices[0].Restaurant}}</h1>
        <table id="sales-invoices-table">
            <thead>
                <tr>
                {% for key in invoices[0].keys() %}
                    <th>{{key}}</th>
                {% endfor %}
                <th>Edit</th>
                </tr>
            </thead>

            <tbody>
                {% for invoice in invoices %}
                <tr>
                    {% for key in invoice.keys() %}
                        <td>{{invoice[key]}}</td>
                    {% endfor %}
                    <td><a href="/edit-invoice/{{invoice.invoiceID}}"><img src="/static/img/edit-icon.svg" width="39" height="30"></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="add-invoice">
        <div class="container-fluid">
            <form id="add-invoice-form" action="/invoices/{{invoices[0].restaurantID}}" method="post">
                <fieldset class="form-group border p-3">
                    <legend class="float-none w-auto">Create A New Invoice</legend>
                    <p>Select Sold Item from <strong>{{invoices[0].Restaurant}}</strong> Menu</p>
                    <div class="input-group">        
                        <select class="form-select" name="menu-item-value" id="menu-item-value" required>
                            <option value="">Select Menu Item</option>
                            {% for item in menu %}
                            <option value="{{item.menu_itemID}}">{{item.name}}</option>
                            {% endfor %}
                        </select>
                    
                    
                        <input class="form-control" type="number" name="quantity-sold" id="quantity-sold" placeholder="Quantity Value" value="" required>
                    
                        <input type="text" id="sales-date" name="sales-date" class="form-control" placeholder="YY-MM-DD" value="" required>
                                 
                        <button class="btn btn-success" type="submit" name="Add Invoice" value="Add Invoice" id="Add Invoice">Add Invoice</button>
                        <input class="btn btn-danger" type="button" value="Cancel" onclick="showInvoices()">
                        
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div id="edit-invoice">
        <div class="container-fluid">
            <form id="edit-restaurant-form" action="/edit-invoice/{{invoices[0].invoiceID}}" method="post">
                <fieldset class="form-group border p-3">
                    <legend class="float-none w-auto">Edit Invoice Information</legend>
                    <input type="hidden" id="invoice-id" value="{{invoices[0].invoiceID}}" required>
                    <div class="input-group">
                        <label for="restaurant-id">Restaurant:</label>
                        <input class="form-control" type="text" id="restaurant-id" value="{{invoices[0].restaurantID}}" required>
                        
                        <label for="menu-item-id">Menu Item:</label>
                        <input class="form-control" type="text" id="menu-item-id" value="{{invoices[0].menu_itemID}}" required>

                        <label for="quantity-sold">Quantity Sold:</label>
                        <input class="form-control" type="number" name="quantity-sold" id="quantity-sold" value="{{invoices[0].Quantity}}" required>
                        
                        <input class="btn btn-danger" type="button" value="Cancel" onclick="showInvoices()">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#display-invoices").css("display","block");
        $("#add-invoice-btn").css("display", "block");
        $("#add-invoice").css("display", "none");
        $("#edit-invoice").css("display", "none");


    });

    $(function() {
        $("#sales-date").datepicker({  
            autoclose: true,  
            todayHighlight: true,
            format: "yyyy-mm-dd"
        });
    });


    function displayController(situation){
        if(situation == "add"){
            $("#display-invoices").css("display", "none");
            $("#add-invoice-btn").css("display", "none");
            $("#add-invoice").css("display", "block");
            $("#edit-invoice").css("display", "none");
        }

        else if(situation == "edit"){
        $("#display-invoices").css("display", "none");
            $("#add-invoice-btn").css("display", "none");
            $("#add-invoice").css("display", "none");
            $("#edit-invoice").css("display", "block");
        }

        else {
            $("#display-invoices").css("display", "block");
            $("#add-invoice-btn").css("display", "block");
            $("#add-invoice").css("display", "none");
            $("#edit-invoice").css("display", "none");
        }
    }

    function addInvoice() {
        displayController('add');
    }

    function editInvoice() {
        displayController('edit');
    }

    function showInvoices() {
        displayController('');
    }

    </script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</body>
<footer>
    <div class="author-line">&#169 2024 Kevin Parsons</div>
</footer>
</html>